{% extends 'templates/iot_official_base.html' %}


{% block content %}

<!-- ======= Services Section ======= -->

<br><br><br>
<section id="more-services" class="more-services">


  <div class="content">
    <h3><strong>Internet Service Provision (ISP)</strong></h3>
    <p>
      IoT Communications has a services agreement with BOFINET that allows the company to employ BOFINET’s Fibre infrastructure for providing Internet services to the local market.
    </p>

        <div class="accordion-list">
          <ul>
            <li>
              <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-2">The company currently offers the following ISP services:<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-2" class="collapse show" data-bs-parent=".accordion-list">
                <p>
                  <ol>
                  
                    <li id="list1">Shared Internet through fibre or wireless access networks.</li>
                    <li id="list2">Dedicated Internet through fibre or wireless access networks.</li>                       
                  </ol>
                </p>
              </div>
            </li>
    
          </ul>
        </div>

  </div>
</section>



<!-- End Services Section -->


{% endblock %}