{% extends 'templates/iot_official_base.html' %}


{% block content %}

<!-- ======= Services Section ======= -->

<br><br><br>
<section id="more-services" class="more-services">


  <div class="content">
    <h3><strong>Internet of Things (IoT)</strong></h3>

        <div class="accordion-list">
          <ul>
            <li>
              <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-2">Our portfolio of innovative products and services ranges across the following IoT use cases:<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-2" class="collapse show" data-bs-parent=".accordion-list">
                <p>
                  <ol>
                  
                    <li id="list1">Smart Agriculture</li>
                    <li id="list2">Environmental Monitoring</li>
                    <li id="list3">Healthcare and Safety</li>
                    <li id="list4">Logistics and Asset tracking</li>
                    <li id="list5">Metering</li>
                    <li id="list6">Smart Buildings and Home Automation</li>
                    <li id="list7">Smart Cities</li>                       
                    
                  </ol>
                </p>
              </div>
            </li>
    
          </ul>
        </div>

  </div>

        <div class="content">
          <h3><strong>Connectivity Options</strong></h3>
          <p>
            For all our IoT use cases, we offer a choice between three distinct Low Power Wide Area Network (LPWAN) connectivity options:
          </p>
        </div>


        <div class="content">
          <h3><strong>LPWAN Public Access Network (LPAN)</strong></h3>
          <p>
            This is our Network as a Service (NaaS) LPWAN connectivity offering. It is available to anyone who has BOCRA type approved LPWAN devices and wishes to monitor or track them through our public access LPWAN infrastructure. The service is provided on a pay-as-you-go or monthly subscription basis.
          </p>
        </div>


        <div class="content">
          <h3><strong>LPWAN Private Network (LPN)</strong></h3>
          <p>
            This is our connectivity offering for on premise LPWAN deployment. The solution is intented for enterprises such as municipalities, mines, schools, hospitals etc, that wish to create a private LPWAN to monitor or track their assets. IoT Communications will install and configure LPWAN devices, gateways, network management and application servers at the client’s premises. The client’s ICT department will host all components of the LPN. IoT Communications will provide system maintenance training as well as remote and on-site support for the infrastructure.
          </p>
        </div>


        <div class="content">
          <h3><strong>LPWAN Virtual Private Network (LVPN)</strong></h3>
          <p>
            This is our Software as a Service (SaaS) LPWAN connectivity offering. The solution is intended for enterprises that may wish to take advantage of third-party cloud services and not invest in expensive backend server infrastructure. IoT Communications will install and configure LPWAN devices and gateways at the client’s premises and connect them to a cloud hosted network management and application server. IoT Communications will provide training as well as remote and on-site support.
          </p>
        </div>


        <div class="content">
          <h3><strong>Complementary Services</strong></h3>
          <p>
            Our complementary services include LPWAN network coverage planning and installation of fixed devices and gateways. We also provide IoT solutions consultancy and training.
          </p>
        </div>

  </div>
</section>



<!-- End Services Section -->


{% endblock %}